<!DOCTYPE html>
<html lang="en">
    <title>AJS Square and Factorial</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        var app=angular.module("myApp",[]);
        app.controller("myCntrl",function($scope)
        {
            $scope.num=0
            $scope.result
            $scope.square=function()
            {
                $scope.result=$scope.num*$scope.num
            }
            $scope.factorial=function()
            {
                let n=$scope.num
                let i=1
                while(n>=1) {
                    i*=n--;
                }
                $scope.result=i;
            }
        });
    </script>
</head>
<body ng-app="myApp">
    <h1>Angular Js Square and Factorial calculator</h1>
    <div ng-controller="myCntrl">
        Enter the number: <input type="number" ng-model="num">
        <br>
        <button ng-click="square()">Square</button>
        <button ng-click="factorial()">Factorial</button>
        <br>
        {{result}}
        <br/>
    </div>
    
</body>
</html>